@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Montserrat;
    font-style: normal;
     
background-color: #0E1111;}

form {background: rgba(34, 40, 74, 0.81);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 36px;
height: 650px;
width: 90%;
margin:auto;
margin-top: 50px;}

input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  margin-top: 5%;
  border-radius: 22px;
  background: rgba(196, 196, 196, 0.15);
  box-sizing: border-box;
  height: 47px;
  margin-left: 5%;
  font-family: Montserrat;
  color: #FFFFFF;
}

.button1{
  background-color:rgba(34, 40, 74, 0.81);
  color: white;
  padding: 14px 20px;
  border: 2px solid #EF78F1;
  box-sizing: border-box;
  width: 100%;
  border-radius: 25px;
  height: 7vh;

}
.button2{
    background: linear-gradient(180deg, rgba(239, 120, 241, 0.79) 19.27%, #5D5FEF 100%);
    border-radius: 25px;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 100%;
    height: 7vh;
    margin-top: 10px;

    
}

.buttons{
    position: absolute;
    left: 50%;
    top: 83%;
    width: 65vw;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin:0;

}



.imgcontainer {
  text-align: center;
}



.container {
  padding: 16px;
  margin-top: 0%;
  
}

.psw{
    float: right;
}
.RememberForget{
  padding-top: 3vh;
  font-family: Montserrat;
  font-size: 14px;
  color: white;
margin-right: 7%;
margin-left: 7%;
}