@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  height: fit-content;
  padding: 0px;
  margin: 0px;
}


.centered {
    color: #D5D5D5;
    font-size: 20px;
    font-family: 'Montserrat';
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
    line-height: 27px;

  }
  .bottom {
    color: #C4C4C4;
    font-size: 12px;
    font-family: 'Montserrat';
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    margin: 0px;
    text-align: center;

  }

img{
    padding: 0px;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex; 
   
}

button{
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Montserrat';
    position: absolute;
    top: 85%;
    left: 25%;
    width: 50vw;
    margin: 0px;
    border: none;
    height: 50px;
    background: linear-gradient(180deg, #8C18FF 24.48%, rgba(215, 87, 236, 0.53) 93.23%);
    border-radius: 25px;
}