@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    overflow-x: hidden;
    background-color: #0E1111;
    font-family: 'Montserrat';
}
/* top navbar */
body img {
    width: 100%;
    height: 90%;
}

nav {
    justify-content: space-between;
}


.notifications img {
    width: 42px;
}

nav {
    display: flex;
    margin: 20px;
    height: 44px;
}

.search {
    width: 85%;
    margin: auto;
}
.search h2 {
    font-size: 17px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #0e1111;
}

.search p
{
    text-align: right;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #0e1111; 
}


/* end of top navbar */

input
{
    border-radius: 25px;
}

.filter
{
    align-items: center;
    justify-content: center;
    display: flex;
    grid-template-columns: 50% 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.list
{
    width: 90vw;
    color: #676767;
    background-color: #0E1111;
    border: none;
}

.list.active
{
    color: white;
    border: 2px solid #181C34;
    border-radius: 10px;
}

.drinkcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 200x;
    transform-style: preserve-3d;
}

.drinkcontainer .box
{
    position: relative;
    background: #0E1111;
    transform-style: preserve-3d;
}

.drinkcontainer .box .description
{
    width: 75vw;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 46%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.price
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 85%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 55px;
    width: 60px;
    background: rgba(60, 73, 154, 0.5);
    border-radius: 10px;
}

.form-outline input
{
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 1px solid #676767;
}

/* footer */


.footerIcons {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  background: #181C34;
  box-shadow: -5px 5px 10px rgba(22, 25, 47, 0.2), 5px -5px 10px rgba(22, 25, 47, 0.2), -5px -5px 10px rgba(26, 31, 57, 0.9), 5px 5px 13px rgba(22, 25, 47, 0.9), inset 1px 1px 2px rgba(26, 31, 57, 0.3), inset -1px -1px 2px rgba(22, 25, 47, 0.5);
  align-items: self-end;
}

.footerIcons img {
    width: 28px;
    height: 28px;
}

.reward img {
    width: 38px;
    height: 62px;
}

/* end of footer */ 

.box
{
    width: 90vw;
    height: 550px;
    object-fit: none;
    margin-bottom: -20px;
    display: none;
}

.show
{
    display: block;
}

.box img
{
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    margin: auto;
}

.eventsView {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    color: #3C499A !important;
}

.homepage, .drink, .reward, .uber, .profile {
    margin-bottom: 20px;
}

.drinkcontainer .box .price h1
{
    font-size: 21px;
    color: white;
    margin-top: 15px;
    font-weight: bolder;
    text-shadow: 2px 2px #0E1111;
}

.drinkcontainer .box .description h1
{
    font-size: 24px;
    color: white;
    margin-top: 15px;
    font-weight: bolder;
    text-shadow: 2px 2px #0E1111;
}

.drinkcontainer .box .description h2
{
    font-size: 17px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #0e1111;
}

/* 
ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

ul li
{
    list-style: none;
    background: #eee;
    padding: 12 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

ul li.active
{
    background: #03a9f4;
    color: #fff;
}

*/
