.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-color: #0e1111;
  font-family: "Montserrat", sans-serif !important;
}

.profile-pic-div {
  position: relative;
  width: 100%;
  margin: auto;
  display: block;
}

.profile-pic-div h1 {
  color: #8c18ff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
}

.profile-pic-div img,
#uploadBtn {
  display: block;
  width: 120px;
  height: 125px;
  margin: auto;
  border-radius: 50%;
}

#uploadBtn {
  height: 29px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(66, 61, 61, 70%);
  color: white;
  line-height: 30px;
  font-size: 15px;
  border-radius: 4%;
}
#file {
  display: none;
}
.signupform {
  width: 90%;
  margin: auto;
}

.form-control {
  border: 1px #ced4da;
}

.form-group label {
  color: white;
}

.form-group input {
  background: rgba(196, 196, 196, 0.15);
  border-radius: 15px;
}

.form-check {
  text-align: center;
}

#signUp-btn {
  background: linear-gradient(
    180deg,
    #8c18ff 24.48%,
    rgba(215, 87, 236, 0.53) 93.23%
  );
  border-radius: 25px;
  width: 215px;
  display: block;
  margin: auto;
}

.container {
  margin-top: 30px;
}

#birthday {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  border: 0px solid #495057;
  border-radius: 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Rectangle 102 */

a {
  color: white;
}

#signUp-btn {
  background: linear-gradient( 
180deg, #8c18ff 24.48%, rgba(215, 87, 236, 0.53) 93.23% );
    border-radius: 25px;
    width: 215px;
    display: block;
    margin: auto;
}